.aboutMeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    background-color: $gray-bg;

    &__container {
        width: 100%;
        max-width: $maxwidth;
        display: flex;
        flex-direction: row;
        padding: $container-padding;
    }

    &__segment {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--right {
            align-items: flex-end;
        }
    }

    &__title {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;

        p {
            font-family: $rubik-font;
            font-size: $subtitle-fontSize;
            font-weight: $semibold;
            color: $darkBlue;
            position: absolute;
            margin-left: 20px;
        }
    }

    &__ellipse {
        width: 96px;
        height: 96px;
        border-radius: 100%;

        &--blue {
            background-color: rgba($color: $mainBlue, $alpha: 0.2);
        }

        &--purple {
            background-color: rgba($color: $mainPurple, $alpha: 0.2);
        }
    }

    &__parragraph {
        margin-top: 40px;
        p {
            font-family: $nunito-font;
            color: $textBlue;
            font-size: $text-fontSize;
            margin-left: 20px;
        }

        &--right {
            text-align: right;
        }
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        width: 480px;
        align-items: center;
        justify-content: flex-end;
    }

    &__ide {
        width: 100%;
        display: flex;
        margin: auto 0;
        align-items: center;
        justify-content: flex-end;
    }

    &__fields {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
    }
}

@media (max-width: 912px) {
    .aboutMeSection {
        &__skills {
            width: 400px;
        }

        &__title {
            p {
                font-size: $subtitle-fontSize - 0.2;
            }
        }

        &__parragraph {
            p {
                font-size: $text-fontSize - 0.2;
            }
        }
    }
}

@media (max-width: 775px) {
    .aboutMeSection {
        padding-top: 50px;
        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__segment {
            max-width: 600px;
        }

        &__skills {
            margin-top: 50px;
            width: 100%;
        }

        &__title {
            p {
                margin-left: 5px;
            }
        }

        &__parragraph {
            margin-top: 20px;
            p {
                margin-left: 0;
            }

            &--right {
                text-align: left;
            }
        }

        &__ide {
            margin-top: 20px;
        }

        &__fields {
            padding-top: 20px;
        }
    }
}

@media (max-width: 599px) {
    .aboutMeSection {
        &__fields {
            flex-direction: column;
        }
    }
}

@media (max-width: 519px) {
    .aboutMeSection {
        &__skills {
            width: 100%;
        }
    }
}

@media (max-width: 467px) {
    .aboutMeSection {
        &__skills {
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 375px) {
    .aboutMeSection {
        &__title {
            p {
                font-size: $subtitle-fontSize - 0.5;
            }
        }
    }
}
