.banner {
    background-color: $black-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    //margin-top: 70px;
    padding-top: 80px;

    &__container {
        width: 100%;
        height: 100%;
        max-width: $maxwidth;
        z-index: 1;
        padding: $container-padding;
        padding-top: 70px;
        padding-bottom: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__imgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__image {
        background-color: rgba($color: $mainBlue, $alpha: 1);
        width: 500px;
        height: 500px;
        border-radius: 100%;
        display: flex;
        align-items: flex-end;
        padding-top: 1px;

        img {
            width: 100%;
            max-width: none;
            position: relative;
            bottom: -1px;
        }
    }

    &__info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

    &__title {
        font-family: $nunito-font;
        font-size: $title-fontSize;
        color: $white-text;
        font-weight: $bold;
    }

    &__subtitle {
        font-family: $nunito-font;
        font-size: $subtitle-fontSize;
        color: $white-text;
        font-weight: $bold;
        color: $mainBlue;
    }

    &__text {
        font-family: $nunito-font;
        font-size: $text-fontSize;
        color: $white-text;
        margin: 10px 0;
        margin-bottom: 20px;
        width: 100%;
        max-width: 400px;
    }
}
