.banner {
    background-color: $black-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    //margin-top: 70px;
    padding-top: 70px;

    &__container {
        width: 100%;
        height: 100%;
        max-width: $maxwidth;
        z-index: 1;
        padding: $container-padding;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__imgContainer {
        background-image: url("./../../public/img/logobannerneon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    &__image {
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        width: 100%;
        height: 440px;
        border-radius: 25px;
    }

    &__info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
    }

    &__title {
        font-family: $nunito-font;
        font-size: $title-fontSize;
        color: $white-text;
        font-weight: $bold;
    }

    &__subtitle {
        font-family: $nunito-font;
        font-size: $subtitle-fontSize;
        color: $white-text;
        font-weight: $bold;
        color: $mainBlue;
    }

    &__text {
        font-family: $nunito-font;
        font-size: $text-fontSize;
        color: $white-text;
        margin: 10px 0;
        margin-bottom: 20px;
    }
}
