.codeWindow {
    background-color: white;
    font-family: $notoSansMono-font;
    border-radius: 10px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-right: 50px;
    margin-left: 10px;

    &__container {
        display: flex;
        align-items: center;
        //justify-content: center;
        padding: 10px;
        width: 425px;
    }

    &__editor {
        font-size: $text-fontSize;
        color: $darkBlue;
        margin-left: 50px;
    }

    &__line {
        margin-bottom: 10px;
       
        &--firstIndent {
            text-indent: 30px;
        }

        &--secondIndent {
            text-indent: 60px;
        }
    }

    &__text {
        color: $darkBlue;
        width: 100%;
        &--comment {
            color: $mainGray;
        }
    }

}

@media (max-width: 912px) {
    .codeWindow {
        padding-right: 5px;

        &__editor {
            font-size: $text-fontSize - 0.2;
        }

        &__container {
            width: fit-content;
        }
    }
}

@media (max-width: 775px) {
    .codeWindow {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
    }
}

@media (max-width: 398px) {
    .codeWindow {
        &__editor {
            font-size: $text-fontSize - 0.5;
        }
    }
}