.codeWindow {
    width: 100%;
    margin-top: 30px;
    background-color: white;
    font-family: $notoSansMono-font;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    &__editor {
        font-size: $text-fontSize;
        color: $darkBlue;
    }

    &__line {
        margin-bottom: 10px;
       
        &--firstIndent {
            text-indent: 30px;
        }

        &--secondIndent {
            text-indent: 60px;
        }
    }

    &__text {
        color: $darkBlue;

        &--comment {
            color: $mainGray;
        }
    }

}
