@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

$rubik-font: 'Rubik', sans-serif;
$nunito-font: 'Nunito', sans-serif;
$notoSansMono-font: 'Noto Sans Mono', monospace;
$medium: 500;
$semibold: 600;
$bold: 700;
$title-fontSize: 4rem;
$subtitle-fontSize: 3rem;
$thirdTitle-fontSize: 2rem;
$text-fontSize: 1.5rem;
