.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #FFFFFF, $alpha: 0.9);
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;

    &__view {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $maxwidth;
    }
}