.ide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    &__img {
        max-width: none;
    }

    &__title {
        font-family: $nunito-font;
        font-size: $text-fontSize;
        color: $mainGray;
    }
}