.ide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
        max-width: none;
    }

    &__title {
        font-family: $nunito-font;
        font-size: $thirdTitle-fontSize;
        font-weight: $semibold;
        color: $mainGray;
    }
}