.myWork {
    margin-top: 80px;
    background-color: $black-bg;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    &__container {
        width: 100%;
        max-width: $maxwidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $container-padding;
    }

    &__title {
        width: 100%;

        h3 {
            font-family: $rubik-font;
            font-size: $subtitle-fontSize;
            font-weight: $semibold;
            color: white;
        }
    }

    &__body {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 912px) {
    .myWork {
        &__title {
            h3 {
                font-size: $subtitle-fontSize - 0.2;
            }
        }
    }
}
