.softSkill {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;

    &__icon {
        width: 200px;
        height: 208px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: none;
        }
    }
    
    &__title {
        font-family: $nunito-font;
        font-size: $thirdTitle-fontSize;
        color: $mainGray;
        font-weight: $semibold;
    }

    &--blue {
        .softSkill__icon {
            background-color: rgba($color: $mainBlue, $alpha: 0.1);
        }
    }

    &--purple {
        .softSkill__icon {
            background-color: rgba($color: $mainPurple, $alpha: 0.1);
        }
    }
}