@import "reset";
@import "fonts";
@import "colors";
@import "sizes";
@import "header";
@import "banner";
@import "goDown";
@import "aboutMeSection";
@import "softSkill";
@import "codeWindow";
@import "transition";
@import "ide";
@import "field";
@import "myWork";
@import "project";
@import "footer";
@import "contact";
@import "button";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $gray-bg;
    background-image: url("./../../public/img/patternbg.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.boldPhrase {
    font-weight: 700;

    &--blue {
        color: $mainBlue;
    }

    &--purple {
        color: $mainPurple;
    }
}
